.about {
    &__grid {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        max-width: 580px;

        @include breakpoint-down(rem(860)) {
            margin: 0 auto;
        }
    }

    &__item {
        flex: 1 0 50%;

        &:nth-child(2),
        &:nth-child(3) {
            background-color: $yellow;
            padding-top: rem(150);
            padding-bottom: rem(180);

            @include breakpoint-down(rem(860)) {
                margin: 0 auto;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        &:nth-child(2) {
            padding-right: 10%;
            padding-left: 8%;

            @include breakpoint-down(rem(1280)) {
                padding-right: 5%;
                padding-left: 5%;
            }
        }

        &:nth-child(3) {
            padding-right: 8%;
            padding-left: 10%;

            @include breakpoint-down(rem(1280)) {
                padding-right: 5%;
                padding-left: 5%;
            }
        }

        &:nth-child(1),
        &:nth-child(4) {
            @include breakpoint-down(rem(1280)) {
                display: none;
            }
        }

        img {
            width: 60%;
            height: auto;
        }
    }

    &__title {
        font-weight: 300;
        font-size: rem(24);
    }

    &__subtitle {
        font-weight: 700;
    }

    &__list {
        padding: 0;

        li {
            margin-bottom: 20px;
        }
    }

    &__paragraph {
        margin-bottom: 20px;

        span {

            font-weight: 700;
        }
    }

    &__label {
        font-size: rem(18);
        font-weight: 400;
    }

    &__contact {
        display: inline-block;
        font-size: rem(24);
        color: $light-gray;
        background-color: black;
        border-radius: 50px;
        padding: 10px 50px;

        @include breakpoint-down(30rem) {
            padding: 10px 20px;
        }
    }

}