@font-face {
    font-family: HelveticaNeueLT;
    src: url("./fonts/HelveticaNeueLT/HelveticaNeueLTPro-Bd.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: HelveticaNeueLT;
    src: url("./fonts/HelveticaNeueLT/HelveticaNeueLTPro-Roman.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: HelveticaNeueLT;
    src: url("./fonts/HelveticaNeueLT/HelveticaNeueLTPro-Lt.woff2") format("woff2");
    font-weight: 300;
}