.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;

    &__copyrights {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 85%;

        &>div {
            display: flex;
            flex: 1;
            justify-content: center;

            &:first-child>p {
                margin-right: auto;
            }

            &:last-child>p {
                margin-left: auto;
            }
        }
    }

    &__paragraph {
        font-weight: 300;
        font-size: 0.75rem;
        color: #8E8C8C;
        margin: 0 20px;

        a {
            color: #8E8C8C;
        }
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 20px;

    &__box {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 1;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &:first-child>div {
            margin-right: auto;
        }

        &:last-child>div {
            margin-left: auto;
        }
    }

    &__icon {
        filter: invert(100%);
        margin-bottom: 20px;
    }

    &__label {
        color: #ffffff;
        font-weight: 300;
        font-size: 1rem;
    }
}

.social-media__icon--white {
    filter: invert(100%);
}