html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: HelveticaNeueLT;
    color: black;
    font-weight: 300;
}

.noscroll {
    overflow: hidden;
}

.hide-for-mobile {
    @include breakpoint-down(80rem) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(80rem) {
        display: none;
    }
}

.socials>a:not(:last-child) {
    margin-right: 1rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint-down(30rem) {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.section__title {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
    font-weight: normal;
    margin: 20px;

    &--white {
        color: #ffffff;
    }
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-d-c {
        flex-direction: column;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}