.header {
    border-bottom: $section-divider;

    // hamburger open styles
    &.open {
        .header__toggle {
            &>span:first-child {
                transform: rotate(45deg);
            }

            &>span:nth-child(2) {
                opacity: 0;
            }

            &>span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        position: relative;
        background-color: white;
    }

    .overlay {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient($dark-blue, transparent);
    }

    &__toggle {
        padding: 20px;

        &>span {
            display: block;
            width: 30px;
            height: 2px;
            background-color: black;
            transform-origin: -2px 1px;
            transition: transform 300ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

    }

    &__languages {
        font-weight: 700;
        font-size: 0.875rem;
        margin-left: 100px;

        @include breakpoint-down(80rem) {
            margin-left: 20px;
        }

        &>a {
            color: $gray;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: $dark-gray;
                border-bottom: 2px solid $gray;
            }

            &:hover {
                color: $dark-gray;
                border-bottom: 2px solid $gray;
            }
        }
    }

    &__links {
        &>a {
            font-weight: 300;
            color: $dark-gray;

            &:not(:last-child) {
                margin-right: 40px;
            }

            &.active {
                font-weight: 700;
            }
            &:hover{
                font-weight: 700;
            }
        }
    }

    &__socials {
        margin: 0 20px 0 80px;

        @include breakpoint-down(80rem) {
            margin: 0;
            transform: translateX(-0.75rem);
        }

        @include breakpoint-down(30rem) {
            display: none;
        }
    }

    &__cta {
        background-color: $yellow;
        padding: 20px 30px;

        & span {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.125rem;
            font-weight: 400;
            text-align: left;
        }
    }

    &__menu {
        background-color: white;
        padding: 1.5rem;
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        border-radius: 3px;

        &>a {
            font-size: 1.5rem;
            display: block;
            font-weight: 300;
            color: $dark-gray;
            padding: 0.75rem 0;
            text-align: center;

            &:hover {
                color: $gray;
            }

            &.active {
                font-weight: 700;
            }

            &.featured {
                background-color: $yellow;
                border-radius: 0.625rem;

                img {
                    margin-right: 0.625rem;
                }
            }
        }
    }
}