.hero {
    min-height: calc(100vh - rem(66));
    &__text {
        h2 {
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }
    }

    &__apps{
        & img:first-child{
            margin-right: 35px;
            @include breakpoint-down(30rem){
                margin-right: 0;
            }
        }
        margin-bottom: 20px;
        @include breakpoint-down(30rem){
            text-align: center;
        }
    }

    &__logo{
        margin-top: 100px;
        @include breakpoint-down(30rem){
            margin-top: 30px;
            width: 70%;
            height: auto;
        }
    }

    &__label {
        font-size: 17px;
        color: $dark-gray;
    }

    &__paragraph {
        &:first-child {
            font-size: 18px;
        }

        span {
            font-weight: 700;
        }
    }

    &__info {
        max-width: 575px;
    }

    &__counter {
        text-align: center;
        span {
            display: inline-block;
            font-weight: 700;
            color: white;
            background-color: #000000;
            font-size: 1.875rem;
            border-radius: 5px;
            padding: 0.25em 0.25em 0 0.25em;
            &:nth-last-child(3n){
                margin-left: 5px;
            }
        }
    }
}