@function rem($size){
    $remValue: calc($size / 16) + rem;
    @return $remValue;
}

@mixin breakpoint-up($size) {
    @media (min-width: $size) {
        @content;
    }
};

@mixin breakpoint-down($size) {
    @media (max-width: $size) {
        @content;
    }
};