.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;

    &__gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 80px;
    }

    &__photo {
        padding: 30px;
    }
}