.partnerships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__view {
        display: grid;
        grid-template-columns: repeat(6, 235px);
        grid-gap: 1px;
        width: max-content;
        margin-top: 20px;
        background-color: #e1e1e1;

        @media(max-width:1490px) {
            grid-template-columns: repeat(3, 235px);
        }

        @media(max-width: 780px) {
            grid-template-columns: repeat(2, 235px);
        }

        @media(max-width: 520px) {
            grid-template-columns: repeat(1, 235px);
        }
    }

    &__logo {
        background-color: #ffffff;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    &__dots {
        margin: 20px;
    }

    &__dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        margin: 0 20px;

        &--active,
        &:hover {
            background-color: #717171;
        }
    }
}