.pricing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    padding-top: 50px;
    padding-bottom:70px ;
    flex-wrap: wrap;
}

.plan {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
    border-radius: 20px;
    min-height: 90vh;
    margin-top: 20px;
    margin-bottom: 20px;
    &:first-child{
        margin-right: 40px;
        @include breakpoint-down(rem(1100)){
            margin-right: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #000000;
        height: 60px;
        border-radius: 20px 20px 0 0;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 400;
        color: #ffffff;
    }

    &__content {
        padding: 50px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80vh;
    }

    &__prices {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__price {
        font-size: 1.875rem;
        font-weight: 400;
        color: #000000;

        &--month {
            font-size: 1.125rem;
            color: #878787;
        }

        &:first-child {
            margin-bottom: 10px;
        }
    }

    &__list {
        margin-bottom: rem(20);
        padding: 0;

        &--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include breakpoint-down(rem(1660)) {
                grid-template-columns: 1fr;
            }
        }
    }

    &__item {
        position: relative;
        font-size: 0.875rem;
        font-weight: 300;
        list-style: none;
        border-top: 1px solid rgba(220, 220, 220, 1);
        border-bottom: 1px solid rgba(220, 220, 220, 1);
        padding: 15px 30px;
        margin: 0 20px;

        &:not(:last-child) {
            border-bottom: 0;
        }

        &:nth-last-child(2) {
            border-bottom: 1px solid rgba(220, 220, 220, 1);
        }

        &::before {
            content: '';
            width: 18px;
            height: 18px;
            background-image: url("./../img/icons/checked.png");
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: calc(50% - 18px);
        }
    }

    &__subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 300;
    }

    &__label {
        color: #000000;
        margin-bottom: 20px;
    }

    &__button {
        font-size: 1.5rem;
        background-color: #000000;
        color: #ffffff;
        border-radius: 50px;
        border: none;
        width: 205px;
        height: 60px;
        cursor: pointer;
    }
}